stable_baselines3
sb3-contrib
gymnasium
scikit-image
scikit-learn
pandas
tqdm
torch
einops
numpy
opencv-python
seaborn
pyboy
tensorboard
wandb
git+https://github.com/PWhiddy/mediapy.git # for rbga (alpha channel) support
