einops
git+https://github.com/PWhiddy/mediapy.git # for rbga (alpha channel) support
gymnasium
nvitop
numpy
opencv-python
pandas
pyboy
sb3-contrib
scikit-image
scikit-learn
seaborn
stable_baselines3
tensorboard
torch
torchvision
tqdm
wandb
